.page-title {
    padding: 0;
}
.title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0;
}
.birds {
    height: 40px;
    padding: 0 0 10px 0;
}