.content-wrap {
    display: flex;
    width: 100%;
    background-color: var(--dark-white);
    align-items: center;
}
.list-wrap {
    width: 20%;
    max-width: 200px;
    background-color: var(--dark-white);
}
.veggie-list {
    list-style: none;
}
.list-title {
    font-size: 24px;
}
.veggie {
    font-size: 20px;
    font-weight: 300;
}
.veggie-link {
    color: black;
}
.veggie-title {
    margin: 20px 0 10px 0;
    color: var(--green);
}
.guide-wrap {
    width: 75%;
    margin: 0 2.5% 0 2.5%;
    background-color: var(--light-white);
    display: flex;
}
.detail-wrap {
    width: 160px;
    margin: 0;
    padding: 0;
}
.detail-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.detail-label {
    font-weight: 700;
    color: var(--green);
}
.detail {
    font-size: 14px;
    padding: 5px 0 15px 0;
}
.description-wrap {
    max-width: 70%;
    margin: 0 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.description {
    word-wrap: normal;
}