
.row {
  margin-top: 15px;
}

.page-title {
  font-display: bold;
  font-size: 50px;
}

.about-text {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  border: 1px solid var(--brown);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 15px 10px 2px 1px rgb(195, 120, 87);
}


#button { 
  background-color: var(--green);
  color: var(--light-white);
  font-size: 20px;
  font-family: cursive;
  padding: 10px 50px;
  border-radius: 30px;
  margin: 10px 0px;
  cursor: pointer;
  margin-right: 50px;
  margin-left: 300px;
}

.buttonwrapper {
  display: flex;
  align-self: center;
}

.fruits {
  margin-top: 5%;
  align-self: center;
  border-radius: 8px;
  object-fit: fill;
  width: 300px;
  height: 300px;
}



