.landing-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.flowers {
  height: 180px;
  opacity: .8;
}
.title-wrap-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0;
  margin: 30px 0 0 0;
}
.butterflies {
  height: 35px;
}
.landing-title {
  color: var(--green);
  font-display: bold;
  font-size: 60px;
  margin: 30px 0 0 0;
  text-decoration: none;
  font-family: cursive;
}
.about-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-box {
  border: 1px solid var(--brown);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 10px 10px 2px 1px rgba(195, 119, 87, 0.785);
  width: 550px;
  background-color: var(--light-white);
}
.about-text {
  color: var(--brown);
  font-size: 24px;
  font-weight: bold;
  width: 450px;
  margin: 0 auto;
}
.description-list {
  list-style-type: none;
  text-align: start;
  margin: 10px 0 20px 20px;
  padding: 0;
  line-height: 25px;
  color: var(--green);

  font-weight: bold;
}
.li {
  margin: 0 0 0 20px;
}
.buttonwrapper {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  margin: 30px 0 0 0;
}
.button { 
  background-color: var(--green);
  color: var(--light-white);
  font-size: 20px;
  font-family: cursive;
  padding: 10px 50px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 20px;
}

.fruits {
  margin-top: 5%;
  align-self: center;
  border-radius: 8px;
  object-fit: fill;
  width: 300px;
  height: 300px;
}



