@media screen and (max-width: 910px) {
    .herbs {
        margin: 0;
    }
}
@media screen and (max-width: 515px) {
    .herbs {
        height: 150px;
    }
}
@media screen and (max-width: 400px) {
    .herbs {
        height: 120px;
    }
}
@media screen and (max-width: 330px) {
    .herbs {
        height: 100px;
    }
}