table, th, td {
  border: 1px solid;
  padding: 5px;
  overflow-wrap: normal;
}
th, td {
  width: 100px;
}
table {
  border-collapse: collapse;
}
.notes {
  width: 200px;
}
.notes-data {
  width: 200px;
}