.table-wrap {
  display: flex;
  justify-content: center;
}

table, th, td {
  border: 1px solid var(--green);
  padding: 5px;
  overflow-wrap: normal;
}
table {
  border-collapse: collapse;
  margin: 50px 0 0 0;
}
th {
  min-width: 115px;
  color: var(--light-white);
  background-color: var(--green);
}
td {
  background-color: var(--light-white);
}
.actions {
  width: 100px;
}
.inner-cells {
  min-width: 115px;
  width: 10%;
}

.button {
  margin: 0 3px;
}
.notes {
  min-width: 200px;
  width: 20%;
}
.notes-data {
  width: 200px;
}

.field-wrap {
    display: flex;
}
.input-label {
    width: 200px;
    text-align: end;
}
.field {
    width: 100px;
}
.react-datepicker-wrapper {
    width: 150px;
}
.button {
  background-color: var(--brown);
}