.table-wrap {
  display: flex;
  justify-content: center;
}
table, th, td {
  border: 1px solid var(--green);
  padding: 5px;
  overflow-wrap: normal;
  box-sizing: initial;
}
table {
  border-collapse: collapse;
  margin: 10px 0 0 0;
  max-width: 90%;
}
th {
  min-width: 90px;
  color: var(--light-white);
  background-color: var(--green);
}
td {
  background-color: var(--light-white);
}
.actions {
  max-width: 80px;
}
.inner-cells {
  max-width: 130px;
}
.button {
  margin: 0 3px;
}
.notes {
  min-width: 200px;
  width: 20%;
}
.notes-data {
  width: 200px;
}


/* modal */
.field-wrap {
    display: flex;
}
.input-label {
    width: 200px;
    text-align: end;
}
.field {
    width: 100px;
}
.react-datepicker-wrapper {
    width: 150px;
}
.button {
  background-color: var(--brown);
}