@media screen and (max-width: 800px) {
    .nav-link {
        margin: 0;
    }
}
@media screen and (max-width: 690px) {
    .nav {
        margin: 0px;
    }
}
@media screen and (max-width: 625px) {
    .logout-link {
        font-size: 16px;
        margin: 5px 0 0 0;
    }
}
@media screen and (max-width: 575px) {
    .nav {
        flex-direction: column;
        flex-basis: 50%;
    }
    .logout-link {
        margin: 0;
    }
    .header {
        height: 200px;
        justify-content: center;
    }
}
@media screen and (max-width: 400px) {
    .nav-link {
        width: 200px;
    }
}