.page-title {
    margin: 0;
    padding: 20px 0 0 0;
    color: var(--green);
}
.zone-description {
    width: 80%;
    margin: 0;
    padding: 10px 0 20px 0;
}
.hardiness-wrap {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-text {
    color: red;
    margin: 0;
    font-weight: 600;
}